{% extends 'base.html' %}

{% block content %}

<div class="col-12">
  <h3>This website...</h3>
  <p>...allows you to look at famous climbing areas (or your own) to create a "backcast" or backwards weather report. This allows you to see the past several days of weather to determine if sandstone or alpine locations are likely to suffer from previous precipitation. You can save backcasts and report on them if you're interested in comparing them to actual conditions on a climb or in a canyon.</p>

</div>


<div class="mx-auto container-fluid row" style="height:500px; width:95%;">


<br>
<div id="container" class="container col-12 col-md-2">
  <ul style="text-align:center">
  <a href="/popular_locations"><h6>Popular Locations</h6></a>
  {% for location in popular_locations %}
      <li><a href="/popular_locations/{{location.id}}">{{ location.name }}</a></li>
  {% endfor %}
  </ul>
</div>

<div class="container col-12 col-md-8">
  <head>
    <title>Event Click LatLng</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='google_map.css') }}" />
    <script src="{{ url_for('static', filename='google_map.js') }}"></script>
  </head>
  <body>
    <div id="map" style="width:100%; height:100%; position: relative; overflow: hidden; min-height:500px"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtzzyq1x2biXhsXPNxkpljz18zrwrB0jQ&callback=initMap&libraries=&v=weekly"
      async
    ></script>
  </body>
</div>

<div class="container col-12 col-md-2">

  <form method="POST" action="/backcast/new_backcast/custom_backcast">
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' %}
      {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
      <li>
          <br>

          {{field.label}} {{ field(class="form-control") }}
          
      </li>

    {% endfor %}

    <button class="btn btn-primary btn-block">Create Backcast</button>
  </form>
</div>


</div>  


</div>

{% endblock %}